@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

@mixin box-sizing($type) {
    box-sizing: $type;
    -webkit-box-sizing: $type;
    -moz-box-sizing: $type;
}

@mixin transition($transitions...) {
    transition: $transitions;
    -webkit-transition: $transitions;
    -moz-transition: $transitions;
    -ms-transition: $transitions;
    -o-transition: $transitions;
}

@mixin transform($transforms...) {
    transform: $transforms;
    -webkit-transform: $transforms;
    -moz-transform: $transforms;
    -ms-transform: $transforms;
    -o-transform: $transforms;
}

@mixin center-vertically() {
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));
}

@mixin center-horizontally() {
    position: relative;
    left: 50%;
    @include transform(translateX(-50%));
}

@mixin center() {
    position: relative;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
}
